.background {
  background: url(/images/background-pattern-desktop.svg) no-repeat;
  background-size: contain;
  background-color: var(--light-pink);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.container {
  background: var(--white);
  max-width: 500px;
  border-radius: 12px;
  padding: 30px;
}

.container .title {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.container .title h1 {
  font-size: 48px;
  color: var(--black);
}

.container .list-item .question-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.container .list-item .question-item h2 {
  font-size: 15px;
  color: var(--black);
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.container .list-item .question-item h2:hover {
  color: var(--magenta);
}

.container .list-item .answer-item {
  height: auto;
  max-height: 9999px;
  transition: all .5s;
}

.container .list-item .answer-item p {
  color: var(--light-gray);
  font-weight: 400;
  margin-top: 25px;
}

.line {
  border-bottom: 1px solid var(--light-pink);
  margin: 10px 0;
}

.list-item:nth-child(4)>.line {
  display: none;
}

@media (max-width: 375px) {
  .background {
    background: url(/images/background-pattern-mobile.svg) no-repeat;
    background-color: var(--light-pink);
    background-size: contain;
  }
}
